/* Style.css */
body{
    background-color: rgb(208, 222, 250);
    padding: 0;
    margin: 0;
}

/* Header section. Michelle design here */



/* Hero section. Chigozie design here. */



/* Footer section. Jojo design here */





@media (max-width: 780px) {
    /* Solomon you work on the responsiveness here */


}